@model EntityLayer.Concrete.Invoice 

<div class="row container d-flex justify-content-center">
    <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body"> 
         <form asp-action="Create" asp-controller="Invoice" method="post" autocomplete="off"> 
            <div class="form-group row">
            <label asp-for="InvoiceNo" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">
                <input asp-for="InvoiceNo" class="form-control"   id="InvoiceNo" placeholder="InvoiceNo">
            </div>
            </div>
            <div class="form-group row">
            <label asp-for="Amount" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input  asp-for="Amount" class="form-control" id="Amount" placeholder="Amount">
            </div>
            </div> 
            <div class="form-group row">
            <label asp-for="User.Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="User.Name" class="form-control" id="User.Name" placeholder="User.Name">
            </div>
            </div> 
            <div class="form-group row">
            <label asp-for="DueDate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="DueDate" class="form-control" id="DueDate" placeholder="DueDate">
            </div>
            </div> 
            <div class="form-group row">
            <label asp-for="billingDate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="billingDate" class="form-control" id="billingDate" placeholder="billingDate">
            </div>
            </div>
            <div class="form-group row">
            <label asp-for="Status" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="text" asp-for="Status" class="form-control" id="Status" placeholder="Status">
            </div>
            </div>   
            <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Ekle</button>
            </div>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>